<div class="column col-9">
    <div class="columns">
        <div class="column col-3">Name</div>
        <div class="column col-9">{{current_user.name}}</div>
    </div>
    <div class="columns">
        <div class="column col-3">Email</div>
        <div class="column col-9">{{current_user.email}}</div>
    </div>

    <div class="columns">
        <div class="column col-3">Password</div>
        <div class="column col-9">
            <span class="label">*******************</span></div>
    </div>
</div>
