<ul class="nav">
    <!-- E-MAIL -->
    <li class="nav-item">
        <a class="btn btn-link" style="width: 100%; text-align: left;" href="{{ url_for('want_to_read') }}">
            <i class="material-icons">bookmarks</i>
            Want to Read
        </a>
        <br>
    </li>

    <!-- NAME -->
    <li class="nav-item">
        <a class="btn btn-link" style="width: 100%; text-align: left;" href="{{ url_for('currently_reading') }}">
            <i class="material-icons">menu_book</i>
            Currently Reading
        </a>
        <br>
    </li>


    <!-- PASSWORD -->
    <li class="nav-item">
        <a class="btn btn-link" style="width: 100%; text-align: left;" href="{{ url_for('read') }}">
            <i class="material-icons">library_books</i>
            Read
        </a>
        <br>
    </li>

    <!-- <div class="divider"></div> -->

    <!-- RECOMMENDATIONS -->
   <!-- <li class="nav-item">
        <a class="btn btn-link" style="width: 100%; text-align: left;" href="{{ url_for('update_password') }}">
            <i class="material-icons">hdr_weak</i>
            Recommendations
        </a>
        <br>
    </li> -->

</ul>
