<ul class="nav">
  <li class="nav-item">
    <a class="btn btn-link" style="width: 100%; text-align: left;" href="{{ url_for('admin_stats') }}">
      Stats
    </a>
  </li>

  <li class="nav-item">
    <a class="btn btn-link" style="width: 100%; text-align: left;" href="{{ url_for('admin_users') }}">
      View Accounts
    </a>
  </li>


  <li class="nav-item">
    <a class="btn btn-link" style="width: 100%; text-align: left;" href="{{ url_for('add_account') }}">
      Create Account
    </a>
  </li>
</ul>
